:root {
    font-family: Montserrat, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: #2E2F42;
      background-color: rgba(255, 255, 255, 0.87);
}

body {

  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 36px;
}

.form {
  display: flex;
  justify-self: center;
  margin-bottom: 24px;
}

input {
  border: 1px solid #808080;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 8px;
}

input:active {
  border: 1px solid #4E75FF;
}

button {
  border-radius: 8px;
  background-color: #4E75FF;
  padding: 8px 16px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #FFFFFF;
  border: none;
}

.gallery {

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}

.gallery-link img {
  display: block;
  width: 100%;
  height: 300px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  display: none;
}

.visible {
  display: block;
  visibility: visible;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #FF3D00;
}
.loadmore {
 visibility: hidden;
 display: flex;
  justify-self: center;
  margin-top: 32px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}
